body {
    padding-top: 50px;
    padding-bottom: 20px;
}

a{
    color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-inverse {
    background-color: transparent;
    border: none;
}

#logo {
    margin: 15px 0 0 -30px;
    height: 60px;
    width: auto;
    padding: 10px 10px 10px 10px;
    background: url(~/Content/Big_blue_black.png);
    /*background-size: 30px 150px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*select,*/
input,
textarea {
}

.page-header {
    font-size: 120px;
    font-weight: bold;
    margin: 20px 0 0 0;
    font-family: 'Freckle Face', cursive;
    line-height: 170px;
    /*margin-left: -15px;*/
    border-bottom: none;
    text-align: center;
}

.control-label {
    font-family: 'Freckle Face';
    font-size: 42px;
    padding-top: 3px;
    background-color: rgba(255,255,255, 0.3);
    border-radius: 5px;
}

#result-label {
    font-family: 'Freckle Face';
    font-size: 42px;
    text-align: right;
    background-color: rgba(255,255,255, 0.4);
    border-radius: 5px;
}

#result {
    font-family: 'Freckle Face';
    font-size: 40px;
    padding-top: 3px;
    border-radius: 5px;
    visibility: hidden;
}

#start-message {
    font-family: 'Freckle Face';
    font-size: 80px;
    color: #16821d;
    /*color: #78d96f;*/
    display: none;
}

.btn, btn-default, btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default .form-horizontal {
    background-color: #16821d;
}
.btn-danger {
    background-color: #d2322d;
    margin-bottom: 10px;
    margin-left: 0px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #16821d;
}

.btn {
    margin-left: 0;
    font-size: 44px;
    font-family: 'Freckle Face';
}

#whisper-btn {
    margin-left: 10px;
}

.form-control {
    font-size: 37px;
    height: 60px;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline .reset {
    padding-top: 0;
}

#SelectedLanguageId {
    
}

body {
    background: url("whispers.jpg") no-repeat;
    background-size: 100%;
}

#logo{
    background-color: rgba(255,255,255, 0.5);
    border-radius: 5px;
}