body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*select,*/
input,
textarea {
    max-width: 500px;
}

.page-header {
    font-size: 160px;
    font-weight: bold;
    margin: 20px 0 0 0;
    font-family: 'Freckle Face', cursive;
    line-height: 170px;
    /*margin-left: -15px;*/
    border-bottom: none;
}

.control-label {
    font-family: 'Freckle Face';
    font-size: 20px;
    padding-top: 3px;
}

#start-message {
    font-family: 'Freckle Face';
    font-size: 80px;
    color: #16821d;
    /*color: #78d96f;*/
    display: none;
}

.btn, btn-default, btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default .form-horizontal {
    background-color: #16821d;
}

.btn {
    margin-left: 7px;
    font-size: 30px;
    font-family: 'Freckle Face';
}

.reset {
    margin-top: -20px;
}

#SelectedLanguageId {
    width: 500px;
}

body {
    background: url("whispers.jpg") no-repeat;
    background-size: 100%;
} 